<h1>Add Your Comment</h1>

<%= form_for @comment_changeset, Routes.post_comment_path(@conn, :create, @post), fn f -> %>
  <%= if @comment_changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :body %>
  <%= textarea f, :body %>
  <%= error_tag f, :body %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
